.experience {
    background-color: white;
    color: black;
    padding: 50px;
}

.experience h2 {
    color: black;
    font-size: 2em;
}

@media (max-width: 600px) {
    .experience {
        padding: 20px;
    }
}