.experience {
    background-color: var(--card-background-color);
    padding: 50px;
}

.experience h2 {
    color: var(--text-light-color);
    font-size: 2em;
}

.period, .description {
    color: var(--text-light-color);
}

.experience h3 {
    color: var(--text-color);
}

@media (max-width: 600px) {
    .experience {
        padding: 20px;
    }
}