/* Header.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  background-color: #000;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap; /* Allow items to wrap if needed */
  height: 50px;
}

.logo {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  flex: 1;
  max-width: 200px; 
  margin-top: 5px;
}

.logo img {
  width: 40px; /* Set the width of the logo */
  height: 40px; /* Set the height of the logo */
  border-radius: 100%; /* Make the logo round */
  box-shadow: 0px 0px 4px white;
}

.nav, .social {
  display: flex;
  align-items: center;
  flex-wrap: wrap; /* Allow items to wrap */
}

.nav a {
  margin: 0 20px; /* Reduced margin */
  text-decoration: none;
  color: white;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav a:hover {
  color: #007bff;
}

.social a {
  margin-left: 10px; /* Reduced margin */
  text-decoration: none;
  color: white;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.social a:hover {
  color: #007bff;
}

.separator {
  color: white; /* Set separator color to white */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .header {
    padding: 15px 20px;
  }
  .nav a, .social a {
    margin: 0 5px;
    font-size: 0.9rem;
  }
}
