/* Header.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  background-color: var(--primary-color); /* Use primary color variable */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 2px 4px var(--card-shadow-color); /* Use card shadow color variable */
  flex-wrap: wrap; /* Allow items to wrap if needed */
  height: auto;
  min-height: 60px;
}

.logo a {
  color: var(--text-light-color);
  font-size: 1.1rem;
}

.logo {
  text-decoration: none;
  flex: 1;
  max-width: fit-content; 
  display: flex;
  align-items: center;
  margin: 0 50px;
}

.logo img {
  width: 40px; /* Set the width of the logo */
  height: 40px; /* Set the height of the logo */
  border-radius: 100%; /* Make the logo round */
}

.nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap; /* Allow items to wrap */
}

.social {
  display: flex;
  align-items: center;
  flex-wrap: wrap; /* Allow items to wrap */
}

.nav a, .social a {
  margin: 0 20px; /* Reduced margin */
  text-decoration: none;
  color: var(--text-light-color); /* Use light text color variable */
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.nav a:hover, .social a:hover, .logo a:hover {
  color: var(--highlight-color) !important;
}

.separator {
  color: var(--text-light-color); /* Set separator color to light text color */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .header {
    padding: 15px 20px;
  }
  .nav a, .social a {
    margin: 0 5px;
    font-size: 0.9rem;
  }
}

@media (max-width: 600px) {
  .header {
    padding: 15px 20px;
  }
  .nav a, .social a {
    margin: 0 5px;
    font-size: 0.9rem;
  }

  .social {
    justify-content: flex-end; /* Align social links to the right */
    width: 100%; /* Ensure it takes up the full width */
  }
}
