.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding: 50px;
  text-align: center;
  height: 30vh;
}

/*  this was inside .hero
    background-image: url('../assets/hero-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
*/

.hero-left,
.hero-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content h1 {
  cursor: pointer;
  color: black;
  font-size: 6em;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  text-align: center;
}

.hero-content p {
    color: black;
    font-size: 1.5em;
    margin: 10px 0 0;
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter 3s steps(52, end), blinkingCursor 0.75s step-end infinite;
    display: inline-block;
}

@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blinkingCursor {
  from { border-right-color: white; }
  to { border-right-color: transparent; }
}

@media (max-width: 600px) {
    .hero {
        padding: 20px;
    }

    .hero-content h1 {
        font-size: 3em;
    }

    .hero-content p {
        font-size: 1em;
    }
}