.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  text-align: center;
  height: 30vh;
}

.hero-left,
.hero-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content h1 {
  font-size: 6em;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  text-align: center;
}

.hero-content p {
  font-size: 1.5em;
  margin: 10px 0 0;
  white-space: nowrap;
  overflow: hidden;
  animation: typewriter 3s steps(52, end), blinkingCursor 0.75s step-end infinite;
  display: inline-block;
}

@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blinkingCursor {
  from { border-right-color: var(--text-color); /* Use text color variable */ }
  to { border-right-color: transparent; }
}

@media (max-width: 600px) {
  .hero {
    padding: 20px;
    flex-direction: column; /* Stack items vertically on smaller screens */
    height: auto; /* Adjust height for smaller screens */
  }

  .hero-content h1 {
    font-size: 3em;
    white-space: normal; /* Allow text to wrap */
    overflow: visible; /* Ensure text is visible */
    text-align: center; /* Center the text */
  }

  .hero-content p {
    font-size: 1em;
    white-space: normal; /* Allow text to wrap */
    overflow: visible; /* Ensure text is visible */
    text-align: center; /* Center the text */
    animation: none; /* Disable animation on smaller screens if needed */
  }
}

@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 4em;
    white-space: normal; /* Allow text to wrap */
    overflow: visible; /* Ensure text is visible */
    text-align: center; /* Center the text */
  }

  .hero-content p {
    font-size: 1.2em;
    white-space: normal; /* Allow text to wrap */
    overflow: visible; /* Ensure text is visible */
    text-align: center; /* Center the text */
  }
}