.experience-skills-container {  
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; /* Allow items to wrap on smaller screens */
  margin-top: 50px;
  align-items: stretch;
}
  
  .experience, .skills {
    flex: 1;
    max-width: 80%; /* Adjust the width as needed */
    margin: 10px;
    border-radius: 0.5cm;
  }

  .motion-div {
    flex: 1; /* Ensure the motion div takes up the same space as the flex items */
    display: flex;
    justify-content: center;
  }
  
  @media (max-width: 600px) {
    .experience-skills-container {
      flex-direction: column;
      align-items: center;
    }
  
    .experience, .skills {
      max-width: 100%;
    }
  }

  @media (max-width: 768px) {
    .experience-skills-container {
      flex-direction: column;
      align-items: center;
    }
  
    .experience, .skills {
      max-width: 100%;
    }
  }