.skills {
  padding: 50px;
  background-color: var(--background-color); /* Use background color variable */
  text-align: center;
}

.skills h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: var(--text-color); /* Use text color variable */
}

.skills h3 {
  color: var(--text-color); /* Use text color variable */
}

.skills-list {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-card {
  margin-bottom: 20px;
  width: 100%;
  max-width: 300px;
}

.skill-bar {
  background-color: var(--highlight-color); /* Use card shadow color variable */
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  height: 10px;
}

.skill-level {
  height: 10px;
  background-color: var(--primary-color); /* Use primary color variable */
  border-radius: 5px;
}

@media (max-width: 600px) {
  .skills {
    padding: 20px;
  }
}