/* App.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Color Palette */
:root {
  --primary-color: #1E201E;
  --secondary-color: #3C3D37;
  --background-color: #b9b5af;
  --text-color: #1E201E;
  --text-light-color: #eeeae5;
  --card-background-color: #363635;
  --highlight-color: #697565;
}

/* Global Styles */
body {
  font-family: 'Roboto Mono', monospace;
  color: var(--text-color); /* Use text color variable */
  background-image: url('./assets/me.jpg');
  background-size: 50%; /* Make the background image smaller */
  background-repeat: no-repeat; 
  background-position: right top 60px;
  background-color: var(--background-color); /* Use background color variable */
  line-height: 1.6;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Main App Container */
.App {
  padding-top: 50px; /* account for fixed header height */
}

/* Section Spacing */
section {
  padding: 50px 0px;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  color: var(--text-color); /* Use text color variable */
  font-weight: 600;
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
  color: var(--text-color); /* Use text color variable */
}

/* Container Utility */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Utility Classes */
.text-center {
  text-align: center;
}

/* Simple Fade-In Animation */
.fade-in {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  body {
    background-size: 100%; /* Adjust background size for smaller screens */
    background-position: right top 80px; /* Adjust background position for smaller screens */
    color: var(--text-light-color); /* Use light text color variable */
  }

  section {
    padding: 40px 15px;
  }

  h1, h2, h3, h4, h5, h6 {
    padding-right: 20px; /* Add padding to avoid overlapping with the background image */
    color: var(--text-light-color); /* Use light text color variable */
  }

  p {
    padding-right: 20px; /* Add padding to avoid overlapping with the background image */
    color: var(--text-light-color); /* Use light text color variable */
  }
}