/* App.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: 'Roboto Mono' , monospace;
  color: #000; /* black text */
  background-image: url('./assets/me.jpg');
  background-size: 50%; /* Make the background image smaller */
  background-repeat: no-repeat; 
  background-position: right top 60px;
  background-color: silver; /* #fffbf6; */
  line-height: 1.6;
  text-align: center;
}

a {
  text-decoration: none;;
}

/* Main App Container */
.App {
  padding-top: 50px; /* account for fixed header height */
}

/* Section Spacing */
section {
  padding: 0px 0px;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  color : black;
  font-weight: 600;
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
  color : black;
}

/* Container Utility */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Utility Classes */
.text-center {
  text-align: center;
}

/* Blue Accent for Interactive Elements */
a:hover,
button:hover,
.nav a:hover,
.social a:hover {
  color: #007bff; /* blue accent */
}

/* Simple Fade-In Animation */
.fade-in {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  body {
    background-size: 100%; /* Adjust background size for smaller screens */
    background-position: right top 20px; /* Adjust background position for smaller screens */
    color: white;
  }

  section {
    padding: 40px 15px;
  }

  h1, h2, h3, h4, h5, h6 {
    padding-right: 20px; /* Add padding to avoid overlapping with the background image */
    color: white;
  }

  p {
    padding-right: 20px; /* Add padding to avoid overlapping with the background image */
    color: white;
  }
}

@media (max-width: 480px) {
  body {
    background-size: 100px; /* Further adjust background size for very small screens */
    background-position: right top 10px; /* Further adjust background position for very small screens */
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em; /* Adjust font size for very small screens */
    padding-right: 10px; /* Add padding to avoid overlapping with the background image */
  }

  p {
    font-size: 1em; /* Adjust font size for very small screens */
    padding-right: 10px; /* Add padding to avoid overlapping with the background image */
  }
}